[alias]
    find = log --oneline --name-status -i --grep
    lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=human-local
    lola = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=human-local --all

    what = log origin/master@{1}..origin/master@{0}

    review = diff master...HEAD
    files-changed = diff-tree --no-commit-id --name-status -r

    diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'

    ls-alias = "!git config --get-regexp '^alias.'"
    all = "!all() { ls | xargs -P10 -I{} git -C {} $1; }; all"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    excludesFile = ~/.gitignore
